.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    row-gap: 10px;
}

@media (min-width: 740px) {
    .footer {
        flex-direction: row;
    }
}

@media (min-width: 1400px) {
    .footer {
        padding: 0;
    }
}

.footer__politic {
    order: 2;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

@media (min-width: 740px) {
    .footer__politic {
        order: 0;
    }
}

.footer__phone {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.footer__mail {
    margin-right: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.footer__icons :first-child {
    margin-right: 18px;
}