.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__politica {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.footer__phone {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.footer__mail {
    margin-right: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.footer__icons :first-child {
    margin-right: 18px;
}