.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 960px) {
    .header {
        flex-direction: row;
        width: 850px;
        height: 123px;
    }
}

.header__logo img {
    width: 100px;
}

@media (min-width: 380px) {
    .header__logo img {
        width: 130px;
    }
}

@media (min-width: 680px) {
    .header__logo img {
        width: unset;
    }
}


@media (min-width: 960px) {
    .header__logo {
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-65%);
    }

}

.header__menu {
    margin-top: 40px;
}

.header__menu-button {
    margin-top: 30px;
    margin-bottom: 10px;
    z-index: 20;
}

@media (min-width: 380px) {
    .header__logo img {
        margin-bottom: 20px;
    }
}

@media (min-width: 560px) {
    .header__menu-button {
        display: none;
    }
}