.layout {
    padding-top: 20px;
}

@media (min-width: 960px) {
    .layout {
        padding-top: 40px;
    }
}


@media (min-width: 960px) {
    .layout > * {
        margin: auto;
    }
}


.layout__header {
    margin: 0 20px 20px 20px;
}

@media (min-width: 960px) {
    .layout__header {
        margin: 0 auto 63px auto;
    }
}

.layout__title-1 {
    margin: 0 20px;
}

@media (min-width: 460px) {
    .layout__title-1 {
        margin: 0 20px 20px 20px;
    }
}

@media (min-width: 960px) {
    .layout__title-1 {
        margin: 0 20px 60px 20px;
    }
}

.layout__portfolio {
    max-width: 1400px;
    margin-bottom: 60px;
}

@media (min-width: 960px) {
    .layout__portfolio {
        margin: 0 20px 100px 20px;
    }
}

@media (min-width: 1400px) {
    .layout__portfolio {
        margin: 0 auto 100px auto;
    }
}

.layout__footer {
    max-width: 1400px;
    min-height: 100px;
    border-top: 1px solid #e6e6e6;
}

.layout--fixed {
    position: fixed;
}