.menu {
    box-sizing: border-box;
    list-style: none;
    padding: 50px;

    position: fixed;
    top: 180px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    background-color: white;

    width: 100%;
    height: 100vh;

    transform: translateX(-100%);
}

@media (min-width: 560px) {
    .menu {
        transform: translateX(0);
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        width: 100%;
        height: unset;
        background: transparent;
    }
}

@media (min-width: 960px){
    .menu {
        margin: 0;
    }
    .menu__item:nth-child(2) {
        margin-right: auto;
        margin-left: 60px;
    }

    .menu__item:nth-child(3) {
        margin-right: 60px;
    }
}

.menu__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

@media (min-width: 560px) {
    .menu__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        opacity: 0.7;
    }
}

.menu--open {
    transform: translateX(0);
}
