.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu__item:nth-child(2) {
    margin-right: auto;
    margin-left: 60px;
}

.menu__item:nth-child(3) {
    margin-right: 60px;
}

