.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.portfolio__item {
    width: 320px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.portfolio__item > * {
    position: absolute;
}

.portfolio__filter {
    width: 320px;
    height: 280px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(55, 55, 55, 0) 53.65%, rgba(55, 55, 55, 0.8) 100%);
    pointer-events: none;
}

.portfolio__title {
    left: 20px;
    bottom: 20px;
    width: 210px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    pointer-events: none;
}

.portfolio__square {
    right: 20px;
    bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    color: #FFFFFF;
    pointer-events: none;
}

.portfolio__img img {
    transition: transform .5s;
}

.portfolio__img:hover img {
    transform: scale(1.15);
}

.portfolio__view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    width: 300px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);;

}