.title-1 {

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;

    color: #000000;
}

@media (min-width: 380px) {
    .title-1 {
        font-size: 36px;
    }
}

@media (min-width: 680px) {
    .title-1 {
        font-size: 42px;
    }
}

@media (min-width: 960px) {
    .title-1 {
        font-size: 48px;
    }

}

.title-1__main-title {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 28px;
}

.title-1__sub-title {
    position: relative;
    bottom: 27px;

    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;

    z-index: 2;
    background-color: #fff;
    padding: 0 15px;
    margin: auto;
    margin-top: 10px;
}

@media (min-width: 380px) {
    .title-1__sub-title {
        font-size: 24px;
    }
}